<p id="notice"><%= notice %></p>

<h1>Showing <%= @book.title %></h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author(s)</th>
    <th>Release Date</th>
    <th>Base Price</th>
  </tr>
  <tr>
    <td><%= @book.title %></td>
    <td><%= @book.authors.map(&:name).join(', ') %></td>
    <td><%= @book.release_date %></td>
    <td><%= @book.base_price %></td>
  </tr>
</table>

<%= link_to 'Edit this book', edit_book_path(@book) %> |
<%= link_to 'Return to book list page', books_path %>
