<p id="notice"><%= notice %></p>

<h1>Product details for <%= @book.title %></h1>

<table>
<thead>
  <tr>
    <th width="30%">Title</th>
    <th width="30%">Author(s)</th>
    <th width="15%">Format</th>
    <th width="15%">Release Date</th>
    <th width="10%">Base Price</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= @book.title %></td>
    <td><%= @book.authors.map(&:name).join(', ') %></td>
    <td><%= @book.format.name %></td>
    <td><%= @book.release_date.strftime("%B %e, %Y") %></td>
    <td><%= number_to_currency @book.base_price %></td>
  </tr>
</tbody>
</table>

<%= link_to 'Edit this book', edit_book_path(@book) %> |
<%= link_to 'Return to book list', books_path %>
